<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
		<mvc.getPageItem>
			<processor type="Sitecore.Mvc.Pipelines.Response.GetPageItem.GetFromRouteUrl, Sitecore.Mvc"
			set:type="Sitecore.Support.Mvc.Pipelines.Response.GetPageItem.GetFromRouteUrl, Sitecore.Support.226035"/>
		</mvc.getPageItem>
	</pipelines>
  </sitecore>
</configuration>